/* Importing custom font from GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/* Declaring color variables */
:root {
    --main-bg-color: linear-gradient(to bottom right, #FC9865, #C74744);
    --primary-color: #f79875;
    --secondary-color: #FC9865;
    --form-bg-color: #fafafa;
    --submit-color: #65fc68;
    --submit-hover-color: #20c423;
    --reset-color: #fcea65;
    --reset-hover-color: #dac41b;
}

/* General appearance */
body {
    font-family: 'Work Sans', sans-serif;
    background-image: var(--main-bg-color);
    color: #222;
}

form {
    width: 700px;
    padding: 100px;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background-color: var(--form-bg-color);
}

label {
    font-weight: 800;
}

input, textarea, select {
    width: 100%;
}

input {
    appearance: none;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid var(--primary-color);
    font: inherit;
    font-size: 1.125rem;
    padding: 0.25rem 0;
}

input:focus {
    outline: none;
}

select {
    cursor: pointer;
    font: inherit;
    border: 0;
    background-color: var(--secondary-color);
    padding: 15px;
}

textarea {
    font: inherit;
    appearance: none;
    border: 2px solid var(--primary-color);
}


/* Father container */
.container {
    display: flex;
    justify-content: center;
}


/* Form buttons style */
.btn-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btn {
    width: 150px;
    height: 50px;
    margin: 50px;
    cursor: pointer;
}

.submit {
    font-weight: bold;
    background-color: var(--submit-color);
    border: none;
}
.submit:hover {
    background-color: var(--submit-hover-color);
    color: #fafafa;
}

.reset {
    font-weight: bold;
    background-color: var(--reset-color);
    border: none;
}

.reset:hover {
    background-color: var(--reset-hover-color);
    color: #fafafa;
}

/* Style for the validation error message */
.error {
    color: #C74744;
}